{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": false
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic",
        "development": true
      }
    ]
  ],
  "plugins": [],
  "env": {
    "development": {
      "plugins": [
        // 开发环境插件
      ]
    },
    "production": {
      "plugins": [
        // 生产环境插件
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        [
          "@babel/preset-react",
          {
            "runtime": "automatic"
          }
        ]
      ]
    }
  }
}